<%= form_with(model: @review, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :place_id %>

    <%= f.collection_select :place_id, Place.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :reviewer_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :rating %>

    <%= f.text_field :rating, class: "form-control" %>
  </div>

  <%= f.submit "Create review", class: "btn btn-block btn-outline-secondary" %>
<% end %>
