<!-- Form categorization start -->
<%= form_with(model: @categorization, local: true) do |f| %>
<!-- Form categorization end -->

  <!-- Label and input for place_id start -->
  <div class="form-group">
    <%= f.label :place_id %>

    <!-- Input for place_id start -->
    <%= f.text_field :place_id, class: "form-control" %>
    <!-- Input for place_id end -->
  </div>
  <!-- Label and input for place_id end -->

  <!-- Label and input for category_id start -->
  <!-- Input for category_id start -->
  <%= f.hidden_field :category_id, value: @category.id %>
  <!-- Input for category_id end -->
  <!-- Label and input for category_id end -->

  <%= f.submit "Create categorization", class: "btn btn-block btn-outline-secondary" %>
<% end %>
