<%= form_with(model: @categorization, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :place_id %>

    <%= f.collection_select :place_id, Place.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :category_id, value: @category.id %>

  <%= f.submit "Create categorization", class: "btn btn-block btn-outline-secondary" %>
<% end %>
