<% was_validated = review.errors.any? %>

<%= form_with(model: review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for place_id start -->
  <div class="form-group">
    <% place_class = "form-control" %>
    <% place_was_invalid = review.errors.include?(:place) %>

    <% if was_validated %>
      <% if place_was_invalid %>
        <% place_class << " is-invalid" %>
      <% else %>
        <% place_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :place_id %>
    <!-- Input for place_id start -->
    <%= f.collection_select :place_id, Place.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for place_id end -->
    <% if place_was_invalid %>
      <% review.errors.full_messages_for(:place).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for place_id end -->
  <!-- Label and input for reviewer_id start -->
  <!-- Input for "reviewer_id" start -->
  <%= f.hidden_field :reviewer_id, value: current_user.id %>
  <!-- Input for "reviewer_id" end -->
  <!-- Label and input for reviewer_id end -->
  <!-- Label and input for rating start -->
  <div class="form-group">
    <% rating_class = "form-control" %>
    <% rating_was_invalid = review.errors.include?(:rating) %>

    <% if was_validated %>
      <% if rating_was_invalid %>
        <% rating_class << " is-invalid" %>
      <% else %>
        <% rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rating %>
    <!-- Input for rating start -->
    <%= f.number_field :rating, class: rating_class, placeholder: "Enter rating" %>
    <!-- Input for rating end -->
    <% if rating_was_invalid %>
      <% review.errors.full_messages_for(:rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for rating end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
