<%= form_with(model: @categorization, local: true) do |f| %>

  <%= f.hidden_field :place_id, value: @place.id %>

  <div class="form-group">
    <%= f.label :category_id %>

    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create categorization", class: "btn btn-block btn-outline-secondary" %>
<% end %>
