<%= search_form_for @q, :class => collapse_search_form, :id => "places_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
  </div>

  <div class="form-group">
    <%= f.label :categories_id_eq_any, "Categories" %>
    <div>
    <% Category.all.each do |category| %>
      <label>
        <%= check_box_tag('q[categories_id_eq_any][]', category.id, (true if @q.categories_id_eq_any.try(:include?, category.id))) %>
        <%= category.name %>
      </label>
    <% end %>
    </div>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/places" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#places_filters">
  Show filters
</a>
