<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @place, partial: "card", as: :place %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "places/place_reviews" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "places/place_categorizations" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "places/place_categories" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "places/place_reviewers" %>
  </div>
</div>
  <!-- Show Page Customization end -->
